
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h2 {
  text-align: center;
  margin: 30px;
}
input{
  height: 30px;
  font-size: large;
}
.search-button{
  height: 30px;
  width: 40px;
  font-size: large;
}
.outer {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.table_top_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
#table_top1{
  flex-basis: 200px;
  text-align: center;
}
#table_top2{
  flex-basis: 400px;
  text-align: center;
}
#table_top3{
  flex-basis: 200px;
  text-align: center;
}

.reservation_row{
  width: 500px;
  height: 25px;
  display:flex;
}
.reservation_col{
  border: 1px solid black;
}
#reservation_col1{
  height: 25px;
  flex-basis: 200px;
  text-align: center;
  padding: 3px;
}
#reservation_col2{
  height: 25px;
  text-align: center;
  flex-basis: 400px;
  padding: 3px;
}
#reservation_col3{
  height: 25px;
  flex-basis: 200px;
  padding: 1px;
  vertical-align: middle;
  text-align: center
}